/**
// Contenedor principal que ocupa toda la pantalla
.app-container {
  height: 100vh;
}

// Estilo para el menú lateral (ZONA AZUL)
.app-sidenav {
  width: 260px;
  background-color: #1769dd; // Tu Azul Oscuro
  border-right: none; // Sin borde para un look más limpio
}

// Contenedor del contenido principal
.mat-sidenav-content {
  background-color: #8d8e92; // Tu Gris de Fondo
}
  **/